<div class="center jumbotron">
	<h1>Park 55 Medical Associates</h1>
	<h2>Premier Internal Medicine</h2>
	<%= link_to("Sign In", "#", class: "btn btn-lg btn-success") %>
	<%= link_to("Register", "#", class: "btn btn-lg btn-primary") %>
</div>
