<footer class="footer">

<p><small><%= link_to("Framework Solutions, LLC", "https://www.framework-solutions.com") %></small></p>
<nav>
	<ul>
		<li><%= link_to("FLink1", "#") %></li>
		<li><%= link_to("FLink2", "#") %></li>
	</ul>
</nav>

</footer><!-- /.footer -->